<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialSysInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SerialSysInfo.Properties.Settings>
            <setting name="port" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="baud" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="updateFrequency" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="updateGUI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startOnBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startMinim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startSerialOnLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stopOnSleep" serializeAs="String">
                <value>False</value>
            </setting>
        </SerialSysInfo.Properties.Settings>
    </userSettings>
</configuration>